process {
    container = 'adamjtaylor/htan-artist'
    withLabel: process_low {
        cpus = 2
        memory = {2.GB * task.attempt}
        maxRetries = 3
        errorStrategy = {task.attempt <= 2 ? 'retry' : 'ignore' }
    }
    withLabel: process_medium {
        cpus = 3
        memory = {3.GB * task.attempt}
        maxRetries = 3
        errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
    }
    withLabel: process_high {
        cpus = 4
        memory = {4.GB * task.attempt}
        maxRetries = 3
        errorStrategy = {task.attempt <= 4 ? 'retry' : 'ignore' }
    }
}

docker.enabled = true

env {
   NXF_OPTS = '-Xms512m -Xmx2g'
}
